@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

/* CSS */


::-webkit-scrollbar-track {
  background: hsl(120 75% 50% / 1);
  border-radius: 100vh;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(120 100% 10% / 1);
}


* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.basic__gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Use white (#ffffff) as the end color */
  filter: blur(123px); /* Optionally, keep the blur effect */
  background-position: center; /* Center the background vertically and horizontally */
  background-size: cover; /* Ensure the gradient covers the entire container */
}




.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #ffec7c 100%);
  filter: blur(123px);
}
.bg-iconic-gradient {
  background-image: conic-gradient(
    from 225deg,
    #f0f0f0, /* Light gray */
    #d8d8d8, /* Medium light gray */
    #b0b0b0, /* Medium gray */
    #888888, /* Dark gray */
    #606060  /* Very dark gray */
  );
}

.logo-text {
  font-family: 'Oswald', sans-serif;
}

.popup-container {
  position: fixed;
  top: calc(50% - 200px); /* Adjust according to the height of your popup */
  left: calc(50% - 200px); /* Adjust according to the width of your popup */
  z-index: 1000; /* Adjust as needed */
}

.fill-white rect {
  fill: white;
}

.border-gradient {
  border-image: linear-gradient(to right, #FFA94D, #FF7E2B);
  border-image-slice: 1;
}

.button-theme {
  @apply active:scale-90 transition-all duration-100 ease-in-out;
}


.scroller {
  max-width: 600px;
  border: solid #FF7E2B 5px;
}

@media screen and (min-width: 768px) {
  .scroller {
    max-width: 900px; /* Adjust this value as needed for larger screens */
  }
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}



.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}
