@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

/* CSS */


::-webkit-scrollbar-track {
  background: hsl(120 75% 50% / 1);
  border-radius: 100vh;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(120 100% 10% / 1);
}


* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.basic__gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Use white (#ffffff) as the end color */
  filter: blur(123px); /* Optionally, keep the blur effect */
  background-position: center; /* Center the background vertically and horizontally */
  background-size: cover; /* Ensure the gradient covers the entire container */
}




.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #ffec7c 100%);
  filter: blur(123px);
}
.bg-iconic-gradient {
  background-image: conic-gradient(
    from 225deg,
    #f0f0f0, /* Light gray */
    #d8d8d8, /* Medium light gray */
    #b0b0b0, /* Medium gray */
    #888888, /* Dark gray */
    #606060  /* Very dark gray */
  );
}

.logo-text {
  font-family: 'Oswald', sans-serif;
}

.popup-container {
  position: fixed;
  top: calc(50% - 200px); /* Adjust according to the height of your popup */
  left: calc(50% - 200px); /* Adjust according to the width of your popup */
  z-index: 1000; /* Adjust as needed */
}
